<article class="post">
    <div class="title">
        {{title}}
        <span>({{format_url post_desc}})</span>
        <p>{{post_desc}}</p>
    </div>
    <div class="meta">
        by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>